
.main_continer{
	box-shadow: 0px 8px 20px black;
}
.fix{

	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.header_area{
    background-color: #69D2E7;
	height: 460px;
	border-top: 8px solid #FA6900;
}
.header_area_inner{}
.header_area_logo{
	float: left;
}
.header_area_logo img{
	margin: 0;
    padding-top: 35px;
}
.header_area_words{
    text-align: center;
    display: block;
    overflow: hidden;
    padding: 140px 0px 0px 65px;
    /* font-size: 45px; */
    line-height: 0px;
    float: left;
    text-shadow: -2px 5px 8px red;
}
.header_area_words h2{
    font-size: 83.29px;
    color: #fff;
    line-height: 0px;
    margin-bottom: 50px;
    font-family: sans-serif;
    letter-spacing: -0.1cm;
    text-transform: uppercase;
}
.header_area_words p{
    font-size: 31px;
    line-height: 10px;
    padding: 0px;
    height: 0px;
    margin-top: 15px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 0cm;
    text-transform: uppercase;
}
.header_area_options{}
.annoying_bar {
    position: absolute;
    z-index: 4
    bottom:-12em;
    left: -3em;
    right: 1em;
    text-align: center;
    box-shadow: 0px 2px 10px 2px #DADADA;
    border-radius: 1em;
    height: 290px;
    width: 835px;
    background-color:white;
    color:;
    font-size: ;
    top: 350px;

}
.annoying_bar h1{
	padding-bottom: 40px;
    margin-bottom: 0px;
    padding-top: 15px;
    font-family: sans-serif;
}
.annoying_bar p{
	font-size: 22px;
    font-family: sans-serif;
    color: #6B6B6B;
    width: 748px;
    text-align: start;
    padding-left: 35px;
    line-height: 30px;
}
.annoying_bar hr{
	margin-top: 12px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
    width: 385px;
}

.promo_area{
    background-color: #F1F1F1;
	height: 530px;
}
.promo_inner_area{
	padding: 260px 70px 0px 0px;
}
.col-md-4{
	width: 300.3px;
    float: left;
    padding-left: 24px;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: #3d3d3d;
}
.single_promotion_area{
	text-shadow: 1px 1px 12px darkolivegreen;
}
.single_promotion_area img{
	background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 1px 5px 15px 1px orangered;
}
.slider_area{
	background-color: #FA6900;
	height: 470px;
}
.slider_inner_area{}
.slider_inner_area p{
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    letter-spacing: 0.1cm;
    /* width: 840px; */
    line-height: 30px;
    text-shadow: 4px 2px 5px darkslategrey;
    color: #fff;
}
.slider_tabs1{}
.slider_tabs2{}
.slider_tabs3{}
.testimonials_area{
	background-color: #F1F1F1;
	height: 530px;
}
.testimonials_inner{}
.testimonials_image_area{
	    padding-top: 50px;
}
.testimonials_image_area img{
	display: block;
    margin: auto;
    width: 12%;
    background-color: rgb(16, 16, 16);
    padding: 30px;
    border-radius: 100%;
}
.testimonials_paragraph_area{
	    text-align: center;
}
.testimonials_paragraph_area h1{
	margin-bottom: 0px;
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.testimonials_paragraph_area h4{
	margin-top: 0px;
    line-height: 30px;
    margin-bottom: 0px;
    font-size: 22px;
    font-family: sans-serif;
    color: #858585;
}.testimonials_paragraph_area p{
    margin-bottom: 0px;
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #959595;
    width: 910px;
    line-height: 25px;
}
.testimonials_buttons_area{}
.bullet_point_area{
	background-color: #FA6900;
	height: 530px;
}
.bullet_point_area_inner{}
.bullet_point_area_left{
    width: 350px;
    float: left;
}
.bullet_point_area_left h1{
    font-size: 26px;
    margin-bottom: 0px;
    font-family: sans-serif;
    color: #fff;
    padding-top: 135px;
}
.bullet_point_area_left h4{
	font-size: 22px;
    margin-bottom: 0px;
    font-family: sans-serif;
    color: #FEDED1;
    margin-top: 0px;
    padding: 5px 0px 32px 0px;
}
.bullet_point_area_left p{
    font-size: 16px;
    color: #FEE6DD;
    font-family: sans-serif;
    padding: 5px 0px 5px 0px;
}
.bullet_point_area_right{}
.bullet_point_area_right img{
    position: absolute;
    padding: 0px 0px 0px 110px;
    margin: 0 auto;
    height: 529px;
    width: 52.4%;
    float: left;
    border-radius: 350px 0px 0px 350px;
}
.footer_area{}
.footer_area_inner{}
.footer_area_left{
	float: left;
    width: 433px;
}
.footer_area_left_logo{
    padding-top: 94px;
}
.footer_area_left_social_button_area{}
.footer_area_left_social_button_area p {
	font-size: 16px;
    font-family: sans-serif;
    color: #858585;
    padding: 16px 0px 14px 0px;
    width: 454px;
}
.social_button{

}
.social_button ul{
	margin: 0;
	padding: 0;
	list-style: none;

}
.social_button ul li{
    display: inline-block;
    padding: 8px 5px 0px 6px;

}
.social_button ul li a{
    border: 1px solid #fbfbfb;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    color: #fa6801;
    box-shadow: 2px 3px 1px 1px;
}
.social_button ul li a i {
	padding-top: 5px;
	font-size: 18px;


}
.social_button ul li a:hover {
	color: #FA6801; border:1px solid#fff;
	box-shadow: 2px 1px 3px;
}
.fa{

}
.fa-facebook{
	color: #0082FF;
}
.fa-twitter{
	color: #33CCFF;
}
.fa-pinterest{
	color: #BD081C;
}
.fa-linkedin{
	color: #000000;
}
.footer_area_right{
	float: right;
    width: 433px;
    padding-top: 60px;
}
.footer_right_inner{}
.footer_right_inner h1{
	font-family: sans-serif;
    font-size: 26px;
}
.service_area{
	width: 430px;
	margin: 0 auto;
	display: block;
}
.service_area img{
	float: left;
    box-shadow: 3px 4px 8px 0px #DBDBDB;
}
.service_area h1{
	font-size: 14px;
	overflow: hidden;
    padding-left: 28px;
}
.service_area p{
    padding: 10px 0px 10px 120px;
    width: 321px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic;

}
.footer_last{
	background-color: #69D2E7;
	height: 80px;
}
.footerbar_inner{
    font-size: 14px;
    padding: 18px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}
.footerbar_left{
	float: left;
}
.footerbar_right{
	float: right;
}

